* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(/assets/font/Roboto/Roboto-Regular.ttf) format("woff");
}

a {
    text-decoration: none;
    color: white;
}

.banner {
    background-color: #BBDEFB;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    margin-top: 20px;
    text-shadow: 2px 2px 10px #2196f3;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 400;
    padding: 20px;
}

h2:hover {
    color: #4527A0;
}

h3 {
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    padding: 20px;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

figcaption { 
    display: none;
}

.top {
    clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
    background-color: #2196f3;
    padding: 50px 10px;
    margin-top: 10px;
}

.middle {
    clip-path: polygon(0 0,50% 50px,100% 0,100% calc(100%-50px),50% 100%,0 calc(100%-50px));
    margin-top: -40px;
    padding: 100px;
}

.bottom {
    clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
    margin-top: -40px;
    background-color: #BBDEFB;
    padding: 50px 10px;
}

.table {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
}

span,
span > a {
    font-size: 10px;
    color: white;
}

.photos {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

/* styles the "scroll to top" button */
#scrollToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 40px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #0D47A1; 
    color: white; 
    cursor: pointer; 
    padding: 10px 20px; 
    border-radius: 40px; 
    font-size: 25px;
}
  
#scrollToTopBtn:hover {
    background-color: #4527A0;
}


.iscrizioni-grest {
    background-color: #2196f3;
    text-align: center;
    margin-bottom: 10px;
}

.iscrizioni-grest > p {
    padding: 20px;
    margin: 0 50px;
}

.iscrizioni-grest > img {
    width: 200px;
    padding: 30px;
}

.link-iscrizioni {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding: 30px;
    text-decoration: underline;
}

@media only screen and (max-width: 699px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
    }
    
    h3 {
        font-size: 20px;
    }
}

