* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* XS - MOBILE FIRST */

:root {
    /* Font families con fallback */
    --font-serif: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
    --font-sans: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Pesi */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Dimensioni base */
    --font-size-xs: 0.50rem;
    --font-size-sm: 0.75rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 3rem;

    /* Interlinea */
    --line-height-base: 1.6;
    --line-height-heading: 1.2;

    /* Margini */
    --margin-2xs: 28px;
    --margin-xs: 36px;
    --margin-sm: 40px;
    --margin-md: 56px;
    --margin-lg: 80px;
    --margin-xl: 96px;
    --margin-2xl: 112px;
    --margin-3xl: 144px;

    /* Spessore bordi */
    --border-width-xs: 1px;
    --border-width-sm: 1.5px;
    --border-width-md: 2px;

    --radius-sm: 10px;
    --radius-md: 20px;
    --radius-lg: 30px;

    /* Gap */
    --gap-sm: 0.75rem;
    --gap-md: 1.25rem;
    --gap-lg: 2.25rem;
    --gap-xl: 3rem;

    /* Colori */
    --azzurro: #a6d4fa;
    --blu-notte: #14213d;
    --bordeaux: #7d1e3f;
    --viola: #5e4b8b;
    --giallo: #f4c430;

    --azzurro2: #4ba3e2;
    --blu-notte2: #0a2540;
    --bordeaux2: #8c1c3a;
    --viola2: #5a2a82;
    --giallo2: #f2b705;

    --primary-light-plus: #a6d4fa;
    --primary-light: #4D8DC1;
    --primary: #3174AB;
    --primary-medium: #005B93;
    --primary-dark: #00426B;

    --secondary-light: #FFECD1;
    --secondary: #E6BC68;

    --dark:rgb(14, 14, 14);
    --light:rgb(244, 248, 252);
    --black: #000000;
    --white: #ffffff;
}

body {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--primary-dark);
    background-color: var(--light);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4,
h5,
h6 {
  font-size: var(--font-size-lg);
}

p {
    font-size: var(--font-size-base);
    margin-bottom: 1em;
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

em,
i {
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--primary-dark);
}

/* BACKGROUND AND TEXT COLORS */

.bg-primary-dark {
    background-color: var(--primary-dark);
    color: var(--light);
}
.bg-secondary-light {
    background-color: var(--secondary);
    color: var(--primary-dark);
}

.text-white {
    color: var(--light)
}

.border-white {
    border: var(--border-width-sm) solid var(--light);
}

.border-primary {
    border: var(--border-width-sm) solid var(--primary);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* HTML Tags */
.section {
    margin-top: var(--margin-md);
    margin-bottom: var(--margin-md);
    overflow: hidden;
    border-bottom-right-radius: var(--radius-lg);
}

.container {
    padding-inline: 2rem;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.relative {
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--gap-md);
}

.content-media-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--gap-lg);
    align-items: stretch;
}

.tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.tab-item {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--gap-md);
    vertical-align: center;
}

.tab-item>div {
    text-align: right;
}

.tab-item>column {
    display: flex;
    flex-direction: column;
}

picture {
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
    margin: 0 auto;
}

picture>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.place-first {
    order: 1;
}

.place-second {
    order: 2;  //da sistemare
}

.content-media-grid .content {
    grid-column: span 2;
}

.content-media-grid .media {
    grid-column: span 1;
}

.content-media-grid .place-first.content {
    order: 1;
    grid-column-start: 1;
    grid-column: span 2;
}

.content-media-grid .place-second.content {
    order: 2;
    grid-column-start: 2;
    grid-column: span 2;
}

.content-media-grid .place-first.media {
    order: 1;
    grid-column-start: 1;
}

.content-media-grid .place-second.media {
    order: 2;
    grid-column-start: 3;
}

/* CONTENT WRAPPER */
.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

/* TEXT LIST + ROW */
.text-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    margin-top: var(--gap-lg);
}

.text-row-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

/* COVER - BANNER */
.full-height {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.medium-height {
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.auto-height {
    height: auto;
}

.cover-section {
    overflow: hidden;
    border-bottom-right-radius: var(--radius-lg);
}

.cover-section .content-wrapper {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.cover-section .content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    padding-block: 4rem;
}

.cover-picture {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.cover-image {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;  
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2));
    pointer-events: none;
}

.content {
    position: relative;
    z-index: 5;
}

.img-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover-section .grid-container>.content-wrapper {
    padding-block: 60px;
    padding-inline: 30px;
    border-bottom-right-radius: var(--radius-md);
}

/* MAP */
.map-wrapper {
    border-bottom-right-radius: var(--radius-md); // non funge
}

/* FACEBOOK WIDGET */
.fb-widget-width {
    width: 300;
}

.fb-widget-height {
    height: 500;
}

/* styles the "scroll to top" button */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0d47a1;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 25px;
}

#scrollToTopBtn:hover {
  background-color: #4527a0;
}

/* * */
/* MEDIA QUERIES */
/* * */


/* SM - SMARTPHONES */
@media only screen and (min-width: 480px) {

}

/* MD - TABLET MINI */
@media only screen and (min-width: 641px) {
    .container {
        padding-inline: 2.5rem;
    }
    .content-media-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: var(--gap-md);
    }
}

/* MD - TABLET REGULAR */
@media only screen and (min-width: 769px) {

    .section {
        margin-top: var(--margin-lg);
        margin-bottom: var(--margin-lg);
    }

    .container {
        padding-inline: 3rem;
    }
}

/* LG - LAPTOP */
@media only screen and (min-width: 1025px) {

    .section {
        margin-top: var(--margin-xl);
        margin-bottom: var(--margin-xl);
    }

    .container {
        padding-inline: 6rem;
    }
}

/* XL - DESKTOP */
@media only screen and (min-width: 1281px) {

    .section {
        margin-top: var(--margin-2xl);
        margin-bottom: var(--margin-2xl);
    }

    .container {
        padding-inline: 8rem;
    }
}

/* 2XL - HD LARGE DESKTOP */
@media only screen and (min-width: 1441px) {

    .section {
        margin-top: var(--margin-3xl);
        margin-bottom: var(--margin-3xl);
    }

    .container {
        padding-inline: 9rem;
    }
}

/* WIDE/ULTRA - HIGH RESOLUTION SCREEN */
@media only screen and (min-width: 1681px) {
    .container {
        padding-inline: 10rem;
    }
}
