* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* XS - MOBILE FIRST */

:root {
    /* Font families con fallback */
    --font-serif: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
    --font-sans: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Pesi */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Dimensioni base */
    --font-size-xs: 0.50rem;
    --font-size-sm: 0.75rem;
    --font-size-base: 1rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 3rem;

    /* Interlinea */
    --line-height-base: 1.6;
    --line-height-heading: 1.2;

    /* Margini */
    --margin-text: 12px;
    --margin-2xs: 28px;
    --margin-xs: 36px;
    --margin-sm: 40px;
    --margin-md: 56px;
    --margin-lg: 80px;
    --margin-xl: 96px;
    --margin-2xl: 112px;
    --margin-3xl: 144px;

    /* Spessore bordi */
    --border-width-xs: 1px;
    --border-width-sm: 1.5px;
    --border-width-md: 2px;

    --radius-sm: 10px;
    --radius-md: 20px;
    --radius-lg: 30px;

    /* Gap */
    --gap-none: 0rem;
    --gap-xs: 0.25rem;
    --gap-sm: 0.75rem;
    --gap-md: 1.25rem;
    --gap-lg: 2.25rem;
    --gap-xl: 3rem;

    /* Colori */
    --azzurro: #a6d4fa;
    --blu-notte: #14213d;
    --bordeaux: #7d1e3f;
    --viola: #5e4b8b;
    --giallo: #f4c430;

    --azzurro2: #4ba3e2;
    --blu-notte2: #0a2540;
    --bordeaux2: #8c1c3a;
    --viola2: #5a2a82;
    --giallo2: #f2b705;

    --primary-light-plus: #a6d4fa;
    --primary-light: #4D8DC1;
    --primary: #3174AB;
    --primary-medium: #005B93;
    --primary-dark: #00426B;

    --secondary-light: #FFECD1;
    --secondary: #E6BC68;

    --dark:rgb(14, 14, 14);
    --light:rgb(244, 248, 252);
    --black: #000000;
    --white: #ffffff;
}

body {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--primary-dark);
    background-color: var(--light);
}

h1, h2, h3, h4, h5, h6, .h3-td {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-heading);
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3,
.h3-td {
  font-size: var(--font-size-xl);
}

h4,
h5,
h6 {
  font-size: var(--font-size-lg);
}

p,
td {
    font-size: var(--font-size-md);
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

em,
i {
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--primary-dark);
}

a:hover {
    text-decoration: none;
    color: var(--secondary) !important;
}

hr {
    border: 1px solid var(--primary-medium);
    width: 100%;
}

/* BACKGROUND AND TEXT COLORS */

.bg-primary-dark {
    background-color: var(--primary-dark);
    color: var(--light);
}

.bg-primary {
    background-color: var(--primary);
    color: var(--light);
}

.bg-secondary {
    background-color: var(--secondary);
    color: var(--primary-dark);
}

.text-white {
    color: var(--light)
}

.border-white {
    border: var(--border-width-sm) solid var(--light);
}

.border-primary {
    border: var(--border-width-sm) solid var(--primary);
}


/* FONT STYLE */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.font-bold {
    font-weight: 700;
}

.font-regular {
    font-weight: 400;
}

.mt {
    margin-top: var(--margin-text);
}
.mt:first-child {
    margin-top: 0px;
}

/* HTML Tags */
.section {
    margin-top: var(--margin-md);
    margin-bottom: var(--margin-md);
    overflow: hidden;
    border-bottom-right-radius: var(--radius-lg);
}

.container {
    padding-inline: 2rem;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.rounded-corner {
    border-bottom-right-radius: var(--radius-lg);
}

.relative {
    position: relative;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

footer {
    padding-block: var(--margin-sm);
}

.icon {
  vertical-align: middle;
}


/* HEADER WRAPPER */ 
.mobile-menu {
    position: fixed;
    top: 78;
    right: 0;
    width: 100vw;
    height: calc(100dvh - 78px);
    background-color: var(--primary-dark);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    z-index: 20;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
    padding-bottom: var(--margin-xs);
}

.mobile-menu.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.menu-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--gap-lg);
}

.menu-container hr {
    margin-block: var(--gap-lg)
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-sm);
    padding-block: var(--margin-text);
}

header .mt {
    margin-top: 0px;
}

header p {
    margin-bottom: 0px;
}

header .cta-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    gap: var(--gap-sm);
    align-items: center;
}

.icon-title-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
    width: auto;
    align-items: center;
}

header button,
header .menu-toggle-button {
    background-color: var(--primary-dark);
    border: none;
}

header menu .cta-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    align-items: start;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--gap-md);
}

/* CTA */

.cta {
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: var(--white);
    font-size: var(--font-size-md);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-wrapper {
    margin-top: var(--gap-lg);
}

/* CTA VARIANTS */
.cta--default {
    background-color: var(--primary-medium);
    color: var(--light);
}

.cta--default:hover {
    background-color: var(--secondary);
    color: var(--light) !important;
}

.cta--primary {
    background-color: var(--primary);
    color: var(--light);
}

.cta--primary:hover {
    background-color: var(--secondary-light);
    color: var(--primary-light);
}

.cta--secondary {
    background-color: #6c757d;
    color: white;
}

.cta--link {
    background: none;
    border: none;
    color: var(--light);
    text-decoration: none;
    padding: 0;
    font-weight: normal;
    cursor: pointer;
}

.cta--link:hover {
    color: var(--secondary);
    background-color: transparent;
}

/* CONTENT MEDIA  */

.content-media-grid {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap-md);
}

.content-media-grid .cta-wrapper {
    margin-top: var(--gap-lg);
}

.tab-wrapper {
    margin-top: var(--gap-md);
}

.tab-item {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    margin-top: var(--gap-sm);
}

.tab-item:first-child {
    margin-top: var(--gap-none);
}

.tab-item>div {
    text-align: right;
}

.tab-item>column {
    display: flex;
    flex-direction: column;
}

picture {
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
    margin: 0 auto;
}

picture>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

/* CONTENT WRAPPER */
.content-wrapper {
    display: flex;
    flex-direction: column;
    /* gap: var(--gap-md); */
}

/* TEXT LIST + ROW */
.text-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    margin-top: var(--gap-lg);
}

.text-row-wrapper {
    display: flex;
    flex-direction: column;
    /* gap: var(--gap-md); */
}

/* COVER - BANNER */
.full-height {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.medium-height {
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.auto-height {
    height: auto;
}

.cover-section {
    overflow: hidden;
    border-bottom-right-radius: var(--radius-lg);
}

.cover-section .content-wrapper {
    display: flex;
    flex-direction: column;
}

.cover-section .content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    padding-block: 4rem;
}

.cover-picture {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.cover-image {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;  
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
    pointer-events: none;
}

.content {
    position: relative;
    z-index: 5;
}

.img-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover-section .grid-container>.content-wrapper {
    padding-block: 60px;
    padding-inline: 30px;
    border-bottom-right-radius: var(--radius-md);
}

/* MAP */
.map-wrapper {
    border-bottom-right-radius: var(--radius-md);
    aspect-ratio: 4/3;
}

.map {
    border-bottom-right-radius: var(--radius-md);
    max-width: 300px;
}

/* FACEBOOK WIDGET */
.fb-widget-width {
    width: 300;
}

.fb-widget-height {
    height: 500;
}

/* SLIDER GALLERY */
#slider-gallery {
    margin-top: var(--margin-none);
    margin-bottom: var(--margin-none);
    padding-block: var(--margin-md);
}

#slider-gallery .content-wrapper{
    padding-bottom: var(--margin-md);
}

.swiper {
    position: relative;
    background-color: var(--primary);
}

.swiper-slide {
    width: 300px;
    height: auto;
    cursor: pointer;
    border-bottom-right-radius: var(--radius-md);
}

.slider-image {
    border-bottom-right-radius: var(--radius-md);
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
    display: block;
}

.lightbox-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox-content {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    overflow: hidden;
    border-bottom-right-radius: var(--radius-md);
    display: flex;
    align-items: center;     /* Centra verticalmente anche internamente */
    justify-content: center;
}

.lightbox-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.lightbox-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 999px;
    padding-inline: 9px;
    cursor: pointer;
}

.swiper-button-next::after {
    color: var(--secondary-light);
}

.swiper-button-prev::after {
    color: var(--secondary-light);
}   

/* FOOTER */
.footer-grid {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap-md);
    border-color: var(--light);
    border-top-width: 8px;
    border-bottom-width: 0px;
}

.footer-grid .text-list-wrapper {
    margin-top: var(--gap-none);
    gap: var(--gap-none);
}

.footer-title {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

header picture,
footer picture {
    height: 150px;
    width: auto;
    margin: 0;
}

header img,
footer img {
    height: 150px;
    width: auto;
    margin: 0;
}

.text-list-wrapper p {
    margin-bottom: 0px;
}

.policy {
    margin-top: 0px;
    font-size: var(--font-size-sm);
}

.policy a {
    color: var(--light);
}

.privacy-cookies {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

/* styles the "scroll to top" button */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0d47a1;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 25px;
}

#scrollToTopBtn:hover {
  background-color: #4527a0;
}

/* * */
/* MEDIA QUERIES */
/* * */


/* SM - SMARTPHONES */
@media only screen and (min-width: 480px) {
    /* MAP */
    .map-wrapper {
        border-bottom-right-radius: var(--radius-md);
        aspect-ratio: 3/2;
    }

    .map {
        max-width: 550px;
    }
}

/* MD - TABLET MINI */
@media only screen and (min-width: 641px) {

    .container {
        padding-inline: 2.5rem;
    }

    .content-media-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: var(--gap-lg);
        align-items: stretch;
    }

    .place-first {
        order: 1;
    }

    .place-second {
        order: 2;
    }

    .content-media-grid .content {
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--gap-lg) 0;
    }

    .content-media-grid .media {
        grid-column: span 1;
    }

    .content-media-grid .place-first.content {
        order: 1;
        grid-column-start: 1;
        grid-column: span 2;
    }

    .content-media-grid .place-second.content {
        order: 2;
        grid-column-start: 2;
        grid-column: span 2;
    }

    .content-media-grid .place-first.media {
        order: 1;
        grid-column-start: 1;
    }

    .content-media-grid .place-second.media {
        order: 2;
        grid-column-start: 3;
    }

    .content-media-grid .content-wrapper {
        grid-column: span 2;
    }

    .content-media-grid .content-wrapper,
    .content-media-grid .text-list-wrapper {
        grid-column: span 2;
    }

    .content-media-grid .tab-wrapper {
        grid-column: span 2;
    }

    .tab-wrapper {
        margin-top: var(--gap-md);
    }

    .map-wrapper {
        aspect-ratio: 4/3;
    }

    .map {
        max-width: 200px;
    }
}

/* MD - TABLET REGULAR */
@media only screen and (min-width: 769px) {

    .section {
        margin-top: var(--margin-lg);
        margin-bottom: var(--margin-lg);
    }

    .container {
        padding-inline: 3rem;
    }

    .text-list-wrapper {
        margin-top: var(--gap-md);
    }

    .map {
        max-width: 300px;
    }

    footer {
        padding-top: var(--margin-sm);
        padding-bottom: var(--margin-text)
    }

    .footer-grid {
        display: flex;
        flex-direction: column;
        gap: var(--gap-md);
        border-right-width: 0px;
        border-left-width: 1px;
        align-items: center;
    }

    .footer-title {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: var(--gap-lg);
    }

    .footer-title>.content-wrapper {
        grid-column-start: 2;
        justify-content: center;
    }

    .footer-title>.text-list-wrapper {
        grid-column-start: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--gap-xs);
    }

    .privacy-cookies {
        flex-direction: row;
    }
}

/* LG - LAPTOP */
@media only screen and (min-width: 1025px) {

    .section {
        margin-top: var(--margin-xl);
        margin-bottom: var(--margin-xl);
    }

    .container {
        padding-inline: 6rem;
    }

    /* HEADER WRAPPER */

    .header-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-block: var(--margin-text);
    }

    header .mt {
        margin-top: 0px;
    }

    header .cta-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        gap: var(--gap-sm);
        align-items: center;
    }

    .icon-title-wrapper {
        display: flex;
        flex-direction: row;
        gap: var(--gap-sm);
        width: auto;
        align-items: center;
    }

    header picture {
        height: 60px;
        width: auto;
    }


    /* CONTENT MEDIA */
    .content-media-grid .tab-wrapper>tbody {
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--gap-lg);
    }

    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--gap-lg);
    }

    #slider-gallery {
        padding-block: var(--margin-lg);
    }

    .swiper-slide {
        width: 600px;
    }

    /* FOOTER */
    footer {
        padding-top: var(--margin-md);
    }

    footer picture {
        height: 200px;
        width: auto;
        margin: 0 auto;
    }

    footer img {
        height: 200px;
        width: auto;
    }

}

/* XL - DESKTOP */
@media only screen and (min-width: 1281px) {

    .section {
        margin-top: var(--margin-2xl);
        margin-bottom: var(--margin-2xl);
    }

    .container {
        padding-inline: 8rem;
    }
}

/* 2XL - HD LARGE DESKTOP */
@media only screen and (min-width: 1441px) {

    .section {
        margin-top: var(--margin-3xl);
        margin-bottom: var(--margin-3xl);
    }

    .container {
        padding-inline: 9rem;
    }
}

/* WIDE/ULTRA - HIGH RESOLUTION SCREEN */
@media only screen and (min-width: 1681px) {
    .container {
        padding-inline: 10rem;
    }
}
